In [39]:
#Importing the libraries
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import math
import pandas as pd
import numpy as np

In [11]:
#Question1
df = pd.read_csv('/Users/anmolthadani/Desktop/FTDS-Aug2022 week 5/data/realestate.csv')


df = load()
print(df.head())

   No  X1 transaction date  X2 house age  \
0   1             2012.917          32.0
1   2             2012.917          19.5
2   3             2013.583          13.3
3   4             2013.500          13.3
4   5             2012.833           5.0

   X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                84.87882                               10
1                               306.59470                                9
2                               561.98450                                5
3                               561.98450                                5
4                               390.56840                                5

   X5 latitude  X6 longitude  Y house price of unit area
0     24.98298     121.54024                        37.9
1     24.98034     121.53951                        42.2
2     24.98746     121.54391                        47.3
3     24.98746     121.54391                        54.8
4     24.97937     121.54245                        43.1

In [12]:
df.drop(['No'],axis='columns', inplace=True)
df.drop(['X1 transaction date'], axis='columns' ,inplace=True)

In [13]:
#Question 2
df.shape

(414, 6)

In [14]:
#Question 3
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 6 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   X2 house age                            414 non-null    float64
 1   X3 distance to the nearest MRT station  414 non-null    float64
 2   X4 number of convenience stores         414 non-null    int64
 3   X5 latitude                             414 non-null    float64
 4   X6 longitude                            414 non-null    float64
 5   Y house price of unit area              414 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 19.5 KB

In [17]:
#Question 4
df.isnull()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
409,False,False,False,False,False,False
410,False,False,False,False,False,False
411,False,False,False,False,False,False
412,False,False,False,False,False,False
413,False,False,False,False,False,False

In [18]:
#Question 5
df.describe()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [24]:
y = df[['Y house price of unit area']]
X = df.drop(['Y house price of unit area'],axis='columns')

print(df_y.head())
print(df_X.head())

   Y house price of unit area
0                        37.9
1                        42.2
2                        47.3
3                        54.8
4                        43.1
   X2 house age  X3 distance to the nearest MRT station  \
0          32.0                                84.87882
1          19.5                               306.59470
2          13.3                               561.98450
3          13.3                               561.98450
4           5.0                               390.56840

   X4 number of convenience stores  X5 latitude  X6 longitude
0                               10     24.98298     121.54024
1                                9     24.98034     121.53951
2                                5     24.98746     121.54391
3                                5     24.98746     121.54391
4                                5     24.97937     121.54245

In [42]:
#Question 6
X_train, X_test, y_train, y_test=train_test_split(X,y,train_size=.8, test_size=.2, random_state=42)
print(len(X_train))
print(len(X_test))
print(len(y_train))
print(len(y_test))

331
83
331
83

In [43]:
#Question 7
from sklearn.linear_model import LinearRegression as LR
lr = LR(normalize = True)
print(lr.fit(X_train,y_train))

LinearRegression(normalize=True)

In [44]:
y_pred = lr.predict(X_test)
print(y_pred)

[[47.74180481]
 [41.95484652]
 [44.5399885 ]
 [41.33697932]
 [30.28548   ]
 [42.84474934]
 [45.98717123]
 [45.90599326]
 [24.78369465]
 [52.02068924]
 [32.23880597]
 [34.77542016]
 [39.51392044]
 [24.90203898]
 [35.73984968]
 [32.99552705]
 [41.96863217]
 [46.98662328]
 [31.50100311]
 [44.49258341]
 [ 2.21362693]
 [33.64381059]
 [47.764103  ]
 [43.56374399]
 [14.07301949]
 [41.29883092]
 [14.73315281]
 [44.5399885 ]
 [36.13972668]
 [37.76019401]
 [11.66211419]
 [39.22848089]
 [37.83881729]
 [28.61334713]
 [45.93500741]
 [31.52925298]
 [52.2101045 ]
 [15.18188713]
 [46.84531477]
 [40.47464938]
 [36.01694465]
 [40.58052131]
 [48.38869976]
 [39.8943259 ]
 [42.00896517]
 [48.22742934]
 [45.07252677]
 [23.5290158 ]
 [49.9849698 ]
 [48.13933326]
 [47.74180481]
 [48.54209921]
 [40.94754085]
 [42.54642454]
 [36.38766353]
 [15.15482781]
 [35.13348041]
 [36.39866246]
 [30.20430203]
 [45.90599326]
 [33.69672647]
 [32.65567761]
 [15.15482781]
 [11.8739673 ]
 [ 8.74877596]
 [33.67086991]
 [29.81801432]
 [45.24751413]
 [34.2425491 ]
 [30.54861606]
 [46.09153043]
 [35.88168944]
 [46.95956396]
 [45.3951109 ]
 [35.70165143]
 [39.53744483]
 [38.45558781]
 [40.03447874]
 [42.7135767 ]
 [31.9291718 ]
 [41.89345173]
 [46.0683492 ]
 [30.68391268]]

In [45]:
print(lr.coef_)

[[-2.70593236e-01 -4.55249601e-03  1.10512079e+00  2.36092831e+02
  -2.39036942e+01]]

In [46]:
print(lr.intercept_)

[-2946.65885902]

In [47]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print(f'Mean absolute error: {mae:.2f}')
print(f'Mean squared error: {mse:.2f}')
print(f'Root mean squared error: {rmse:.2f}')

Mean absolute error: 5.35
Mean squared error: 54.58
Root mean squared error: 7.39

In [48]:
r2 = r2_score(y_test, y_pred)
print(r2)

0.6746481382828216